body {
  padding: 80px 15px;
  font-family: "Inter", sans-serif;
  /* background: url("../img/image_2023-12-12_13-34-521.png"); */
  background-color: red;
}

svg {
  width: 20px;
  height: 17px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@keyframes basisAppearing {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.basis {
  transform: translateX(-100%);
  width: 100%;
  max-width: 1200px;
  display: flex;
  position: relative;
  animation: basisAppearing 3s ease-in-out forwards;
}

.basis__logo {
  min-width: 142px;
  align-self: center;
  padding: 12px 32px;
  height: 92px;
  transform: skew(-31deg);
  z-index: 2;

  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.15));
  background-color: #fff;
  border-radius: 3px;
}

.basis__logo img {
  margin: 0 auto;
  max-width: 100%;
  height: 65.5px;
  transform: skew(31deg);
}

/* .basis__logo:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 65.5px;
  background: url("../img/jumper-logo.png");
  transform: skew(31deg) translate(-25%, -50%);
} */

.heading__img {
  width: 100%;
  margin-top: -64px;
  margin-left: 60%;
}

.heading__img img {
  max-width: 100%;
  height: 109px;
}

.heading-spartakiade {
  margin-top: -2px;
  margin-left: -26%;
}

.heading-spartakiade__content {
  position: relative;
  z-index: 3;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heading-spartakiade__content div {
  display: inline-block;
  padding: 0 15px;
  transform: skew(-31deg);
}

.heading-spartakiade__name {
  color: #fff;
  background-color: #242424;
}

.heading-spartakiade__city {
  color: #242424;
  background-color: #fff;
}

.heading-spartakiade div span {
  display: inline-block;
  text-wrap: nowrap;
  text-transform: uppercase;
  transform: skew(31deg);
}

/* .basis__img {
  margin-top: -66px;
  margin-left: -17.2%;
  max-width: 127px;
  z-index: 2;
}

.heading-spartakiade {
  position: absolute;
  left: 25.2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}

.heading-spartakiade div {
  display: inline-block;
  padding: 0 15px;
  transform: skew(-31deg);
}

.heading-spartakiade__name {
  color: #fff;
  background-color: #242424;
}

.heading-spartakiade__city {
  color: #242424;
  background-color: #fff;
}

.heading-spartakiade div span {
  display: inline-block;
  text-wrap: nowrap;
  text-transform: uppercase;
  transform: skew(31deg);
} */
